/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 td{
  border: 1px solid;
}

.container{
  width: 50%;
  margin-left: 10%;
}
 #artist_info{
   display: none;
   float: right;
   /*margin: 60px 30px 0 0;*/
   margin-top: 2%;
   position: static;
 }

 h1{
   border-bottom: 3px solid;
 }

h2{

  padding-right: 0;
  padding-bottom: 2%;
}

.button{
  margin-top: 60px;
    margin-left: auto;
   margin-right: auto;
   width: 6em;
}



 #audioVolumeSlider {
     margin: 10px;
 }
 .ui-slider-horizontal {
     height: 8px;
     width: 200px;
 }
 .ui-slider .ui-slider-handle {
     height: 15px;
     width: 15px;
     padding-left: 5px;
 }

 canvas{
  
   display: none;
   float: left;
   margin-top: 100px;
 }

.canvas{
  border: 1px solid;
  -webkit-transform: translateX(12px) rotateX(-30deg) rotateY(30deg);
  -webkit-box-reflect: below 1px -webkit-linear-gradient(top, transparent, transparent 10%, rgba(255, 255, 255, 0.3));
  opacity: 0.8;
}
