<!DOCTYPE html>
<html>
<head>
  <title>MusicVis</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'howler' 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <script src='music_vis/app/assets/javascripts/howler.js'></script> -->
</head>
<body>
  <h1>Music Visualizer</h1>

  <form>
    <button id="newartist">Does It Offend You, Yeah</button>
  </form>



  <canvas id="canvas" class="canvas" width="700" height="300" style="border:1px solid #000000;">
  </canvas>

</body>
</html>
