<!DOCTYPE html>
<html>
  <head>
    <title>music.Vu</title>
    <%= stylesheet_link_tag    'application', 'jquery-ui.min.css', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'jquery-ui.min.js', 'jquery' 'data-turbolinks-track' => true %>
    <link href='https://fonts.googleapis.com/css?family=Audiowide|Iceland' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <h1>music.Vu</h1>
    <h2>Featured Artists:</h2>

    <tr class='artists'>
     <td><button class="newartist">Deftones</button></td>
     <td><button class="newartist">Bjork</button></td>
     <td><button class="newartist">Nine Inch Nails</button></td>
     <td><button class="newartist">Alexisonfire</button></td>
     <td><button class="newartist">Lupe Fiasco</button></td>
     <td><button class="newartist">Mice Parade</button></td>
     <td><button class="newartist">TIAAN</button></td>
    </tr>

    <div id='artist_info'>
      <img id='artist_photo' src='' alt='Artist Image'>
      <p id='artist_name'></p>
      <p>Song:<p id='artist_song'></p></p>
      <p>Album:<p id='artist_album'></p></p>
    </div>

    <div class='container'>
      <div class='buttons' style='text-align:center'>
        <button id='play' type="button">Play</button>
        <button id='pause' type="button">Pause</button>
        <button id='restart' type="button">Restart</button>
        <div id="audioVolumeSlider"></div>
      </div>
    </div>

    <canvas id="canvas" class="canvas" width="900" height="200" style="border:1px solid #FFFFFF;"></canvas>
  </body>
</html>
