<!DOCTYPE html>
<html>
<head>
  <title>MusicVis</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <script src='music_vis/app/assets/javascripts/howler.js'></script> -->
</head>
<body>
  <h1>Music Visualizer</h1>

  <form>
    <button id="newartist">Does It Offend You, Yeah</button>
  </form>

  <div class='artist_info'>
    <p id='artist_name'></p>
    <p id='artist_bio'></p>
  </div>





  <canvas id="canvas" class="canvas" width="700" height="200" style="border:1px solid #ffffff;"></canvas>

</body>
</html>
