<!DOCTYPE html>
<html>
  <head>
    <title>MusicVis</title>
    <%= stylesheet_link_tag    'application', 'jquery-ui', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'jquery-ui', 'jquery' 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <h1>music.Vu</h1>
    <h2>Featured Artists of the Week</h2>

    <tr>
     <td><button id="newartist">Deftones</button></td>
     <td><button id="newartist2">Bjork</button></td>
     <td><button id="newartist3">Nine Inch Nails</button></td>
     <td><button id="newartist4">Alexisonfire</button></td>
    </tr>

    <div id='artist_info'>
      <h2>Artist Info</h2>
      <p id='artist_name'></p>
      <p>Song:<p id='artist_song'></p></p>
      <p>Album:<p id='artist_album'></p></p>
    </div>

    <div class='container'>
      <div class='buttons' style='text-align:center'>
        <button id='play' type="button">Play</button>
        <button id='pause' type="button">Pause</button>
        <button id='restart' type="button">Restart</button>
        <div id="audioVolumeSlider"></div>
      </div>
    </div>

    <canvas id="canvas" class="canvas" width="900" height="200" style="border:1px solid #FFFFFF;"></canvas>
  </body>
</html>
